@{
    ViewBag.Title = "Корзина";
}

<h2>Корзина</h2>

<table class="table">
    <tr>
        <td>Название</td>
        <td>Цена, руб.</td>
        <td>Количество</td>
        <td></td>
    </tr>
    @foreach (var item in ViewBag.PageCart.cartitems)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>
                @using (Html.BeginForm("ChangeQuantity", "CartItem", FormMethod.Post))
                {
                    <input type="hidden" value="@item.CartItemId" name="id" />
                    <input type="hidden" value="@ViewBag.PageCart.number" name="num" />
                    <input type="hidden" value="0" name="flag" />
                    <input type="submit" value="-" class="btn" />
                }
                @item.Quantity
                @using (Html.BeginForm("ChangeQuantity", "CartItem", FormMethod.Post))
                {
                    <input type="hidden" value="@item.CartItemId" name="id" />
                    <input type="hidden" value="@ViewBag.PageCart.number" name="num" />
                    <input type="hidden" value="1" name="flag" />
                    <input type="submit" value="+" class="btn" />
                }
            </td>
            <td>
                @using (Html.BeginForm("DelItem", "CartItem", FormMethod.Post))
                {
                    <input type="hidden" value="@item.CartItemId" name="Id" />
                    <input type="hidden" value="@ViewBag.PageCart.number" name="num" />
                    <input type="submit" value="Удалить" class="btn" />
                }
        </td>
    </tr>
    }
</table>
<div>
    <h2>Итого:</h2>
    <h4>@ViewBag.PageCart.bill руб.</h4><br>
    <div>
        <form method="post" action="https://wl.walletone.com/checkout/checkout/Index">
            <input type="hidden" value="@ViewBag.PageCart.number" name="num" />
            <input type="hidden" name="WMI_MERCHANT_ID" value="149804888230" />
            <input type="hidden" name="WMI_PAYMENT_AMOUNT" value="@ViewBag.PageCart.bill" />
            <input type="hidden" name="WMI_CURRENCY_ID" value="643" />
            <input type="hidden" name="WMI_DESCRIPTION" value="Оплата демонстрационного заказа (тестовое задание)" />
            <input type="hidden" name="WMI_SUCCESS_URL" value="http://testshop-4.apphb.com/CartItem/Success" />
            <input type="hidden" name="WMI_FAIL_URL" value="http://testshop-4.apphb.com/CartItem/Fail" />
            <input type="submit" value="Оплатить заказ" class="btn" />
        </form>
    </div>
</div>
<hr />
<table>
    <tr>
        @for (int i = 1; i <= ViewBag.PageCart.allPages; i++)
        {
            <td>
                @using (Html.BeginForm("Index", "CartItem", FormMethod.Post))
                {
                    <input type="hidden" value="@i" name="num" />
                    <input type="submit" value=@i class="btn" />
                }
            </td>
        }
    </tr>
</table>