@{
    ViewBag.Title = "Каталог товаров";
}
<h2>Каталог товаров</h2>
<table class="table">
    <tr>
        <td>№</td>
        <td>Наименование</td>
        <td>Описание</td>
        <td>Цена, руб.</td>
        <td></td>
    </tr>
    @foreach (var item in ViewBag.Page.prods)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Decription</td>
            <td>@item.Price</td>
            <td>
                @using (Html.BeginForm("ToCart", "Home", FormMethod.Post))
                {
                    <input type="hidden" value="@ViewBag.Page.number" name="num" />
                    <input type="hidden" value="@item.Id" name="id" />
                    <input type="submit" value="В корзину" class="btn" />
                }
        </td>
    </tr>
    }
</table>
<h2>Товар добавлен в корзину</h2>
<div>
    @for (int i = 1; i <= ViewBag.Page.allPages; i++)
    {
        <div>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <input type="hidden" value="@i" name="num" />
                <input type="submit" value=@i class="btn" />
            }
        </div>
    }
</div>
<br>